<!doctype html>
<html>
    <head>
        <title>Pokémon Mystery Dungeon: Rescue Team DX password tool</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <h1>Pokémon Mystery Dungeon: Rescue Team DX password tool</h1>
        Under <b>heavy</b> construction.<br>
        <br>

        <form action="decode">
            <label for="c">Password:</label>
            <br>
            <textarea type="text" id="c" name="c" rows="3" cols="70">{% if password_input %}{{ password_input }}{% endif %}</textarea>
            <br>
            <button type="submit">Decode</button>
        </form>

        {% if password_output -%}
        Visualized password:
        <div class="pwdbox">
            {{ password_output }}
        </div>

        {% endif -%}
        {% if decode_failed -%}
        <div>
            ERROR! Couldn't decode the password. Make sure it contains exactly 30 character pairs, and doesn't include "XS".
        </div>

        {% endif -%}
        {% if encode_failed -%}
        <div>
            ERROR! Couldn't encode the password. Maybe some fields are missing, or you entered an invalid value for one of them?
        </div>

        {% endif -%}
        {% if warnings -%}
        <div>
            WARNING! This password will not work in-game, because:<br>
            <ul>
            {%- for warning in warnings %}
                {%- if warning == "checksum" %}
                <li>The checksum doesn't match</li>
                {%- elif warning == "dungeon" %}
                <li>The dungeon is invalid or doesn't allow rescues</li>
                {%- elif warning == "pokemon" %}
                <li>The pokemon either doesn't exist in this game or is an alternate form (like a mega)</li>
                {%- elif warning == "gender" %}
                <li>The gender value is invalid</li>
                {%- elif warning == "reward" %}
                <li>The reward value is invalid</li>
                {%- elif warning == "floor" %}
                <li>The floor isn't accessible in this dungeon</li>
                {%- endif %}
            {%- endfor %}
            </ul>
        </div>

        {% endif -%}
        {% if info_text -%}
        <textarea readonly rows="{{ info_text.count("\n") + 1 }}" cols="40">{{ info_text }}</textarea>

        {% endif -%}

                {% macro options(name, array, maxval, info) %}
                {%- for entry in array %}
                    {%- if info and name in info and info[name] == loop.index0 %}
                    <option value="{{ loop.index0 }}" selected>
                    {%- else %}
                    <option value="{{ loop.index0 }}">
                    {%- endif %}
                        {%- if entry is mapping -%}
                        {{ loop.index0 }} - {{ entry.name }} - {{ entry.const }}
                        {%- else -%}
                        {{ loop.index0 }} - {{ entry }}
                        {%- endif -%}
                    </option>
                {%- endfor %}
                {%- for entry in range(array|length, maxval + 1) %}
                    {%- if info and name in info and info[name] == entry %}
                    <option value="{{ entry }}" selected>
                    {%- else %}
                    <option value="{{ entry }}">
                    {%- endif %}
                        {{- entry -}}
                    </option>
                {%- endfor %}
                {% endmacro -%}

        <form action="encode">
            <div class="formgrid">
                <label for="timestamp">Timestamp:</label>
                <input type="text" id="timestamp" name="timestamp" value="
                    {%- if infores and "timestamp" in infores -%}
                    {{ infores.timestamp }}{% else %}0{% endif %}">

                <label for="unk1">Unknown 1:</label>
                <select id="unk1" name="unk1">
                    {{- options("unk1", (), value.unk1, infores) -}}
                </select>

                <label for="team">Team Name:</label>
                <input type="text" id="team" name="team" maxlength="12" value="
                    {%- if infores and "team" in infores -%}
                    {{ infores.team }}{% endif %}">

                <label for="dungeon">Dungeon:</label>
                <select id="dungeon" name="dungeon">
                    {{- options("dungeon", romdata[named.dungeon], value.dungeon, infores) -}}
                </select>

                <label for="floor">Floor:</label>
                <input type="number" id="floor" name="floor" value="
                    {%- if infores and "floor" in infores -%}
                    {{ infores.floor }}{% else %}0{% endif %}">

                <label for="pokemon">Pokémon:</label>
                <select id="pokemon" name="pokemon">
                    {{- options("pokemon", romdata[named.pokemon], value.pokemon, infores) -}}
                </select>

                <label for="gender">Gender:</label>
                <select id="gender" name="gender">
                    {{- options("gender", romdata[named.gender], value.gender, infores) -}}
                </select>

                <label for="reward">Reward:</label>
                <select id="reward" name="reward">
                    {{- options("reward", romdata[named.reward], value.reward, infores) -}}
                </select>

                <label for="unk2">Unknown 2:</label>
                <select id="unk2" name="unk2">
                    {{- options("unk2", (), value.unk2, infores) -}}
                </select>
            </div>

            <button type="submit" name="type" value="0">Encode Rescue</button>
        </form>

        <form action="encode">
            <div class="formgrid">
                <label for="timestamp">Timestamp:</label>
                <input type="text" id="timestamp" name="timestamp" value="
                    {%- if inforev and "timestamp" in inforev -%}
                    {{ inforev.timestamp }}{% else %}0{% endif %}">

                <label for="unk1">Unknown 1:</label>
                <select id="unk1" name="unk1">
                    {{- options("unk1", (), value.unk1, inforev) -}}
                </select>

                <label for="team">Team Name:</label>
                <input type="text" id="team" name="team" maxlength="12" value="
                    {%- if inforev and "team" in inforev -%}
                    {{ inforev.team }}{% endif %}">

                <label for="revive">Revive value:</label>
                <input type="text" id="revive" name="revive" value="
                    {%- if inforev and "revive" in inforev -%}
                    {{ inforev.revive }}{% endif %}">
            </div>

            <button type="submit" name="type" value="1">Encode Revival</button>
        </form>
    </body>
</html>
